    Problem Statement.

    Table: Events

    +---------------+---------+
    | Column Name   | Type    |
    +---------------+---------+
    | business_id   | int     |
    | event_type    | varchar |
    | occurences    | int     | 
    +---------------+---------+
    (business_id, event_type) is the primary key of this table.
    Each row in the table logs the info that an event of some type occurred at some business for a number of times.



    The average activity for a particular event_type is the average occurences across all companies that have this event.

    An active business is a business that has more than one event_type such that their occurences is strictly greater than the average activity for that event.

    Write an SQL query to find all active businesses.

    Return the result table in any order.

    The query result format is in the following example.



    Example 1:

    Input: 
    Events table:
    +-------------+------------+------------+
    | business_id | event_type | occurences |
    +-------------+------------+------------+
    | 1           | reviews    | 7          |
    | 3           | reviews    | 3          |
    | 1           | ads        | 11         |
    | 2           | ads        | 7          |
    | 3           | ads        | 6          |
    | 1           | page views | 3          |
    | 2           | page views | 12         |
    +-------------+------------+------------+
    Output: 
    +-------------+
    | business_id |
    +-------------+
    | 1           |
    +-------------+
    Explanation:  
    The average activity for each event can be calculated as follows:
    - 'reviews': (7+3)/2 = 5
    - 'ads': (11+7+6)/3 = 8
    - 'page views': (3+12)/2 = 7.5
    The business with id=1 has 7 'reviews' events (more than 5) and 11 'ads' events (more than 8), so it is an active business.

# Sub Queries

In [ ]:
select business_id
from
(select event_type, avg(occurences) as ave_occurences
 from events as e1
 group by event_type
) as temp1
join events as e2 on temp1.event_type = e2.event_type
where e2.occurences > temp1.ave_occurences
group by business_id
having count(distinct temp1.event_type) > 1

# With and Group By

In [ ]:
with count_average_activity as
(select event_type, avg(occurences) as average_activity
 from Events
 group by 1
),

greater_than_average_activity as
(select e.* 
 from Events e
 join count_average_activity c using(event_type)
 where e.occurences > c.average_activity
)

select business_id
from greater_than_average_activity
group by 1
having count(*) > 1

# With and Window Function

In [ ]:
WITH greater_than_average_activity AS(
SELECT business_id,
CASE WHEN occurences > AVG(occurences) OVER (PARTITION BY event_type) THEN 1 ELSE 0 END AS chosen
FROM Events)

SELECT business_id
FROM greater_than_average_activity
GROUP BY business_id
HAVING SUM(chosen) >1