    Problem Statement.

    Table: Customer

    +---------------+---------+
    | Column Name   | Type    |
    +---------------+---------+
    | customer_id   | int     |
    | customer_name | varchar |
    +---------------+---------+
    customer_id is the primary key for this table.
    Each row of this table contains the information of each customer in the WebStore.



    Table: Orders

    +---------------+---------+
    | Column Name   | Type    |
    +---------------+---------+
    | order_id      | int     |
    | sale_date     | date    |
    | order_cost    | int     |
    | customer_id   | int     |
    | seller_id     | int     |
    +---------------+---------+
    order_id is the primary key for this table.
    Each row of this table contains all orders made in the webstore.
    sale_date is the date when the transaction was made between the customer (customer_id) and the seller (seller_id).



    Table: Seller

    +---------------+---------+
    | Column Name   | Type    |
    +---------------+---------+
    | seller_id     | int     |
    | seller_name   | varchar |
    +---------------+---------+
    seller_id is the primary key for this table.
    Each row of this table contains the information of each seller.



    Write an SQL query to report the names of all sellers who did not make any sales in 2020.

    Return the result table ordered by seller_name in ascending order.

    The query result format is in the following example.



    Example 1:

    Input: 
    Customer table:
    +--------------+---------------+
    | customer_id  | customer_name |
    +--------------+---------------+
    | 101          | Alice         |
    | 102          | Bob           |
    | 103          | Charlie       |
    +--------------+---------------+
    Orders table:
    +-------------+------------+--------------+-------------+-------------+
    | order_id    | sale_date  | order_cost   | customer_id | seller_id   |
    +-------------+------------+--------------+-------------+-------------+
    | 1           | 2020-03-01 | 1500         | 101         | 1           |
    | 2           | 2020-05-25 | 2400         | 102         | 2           |
    | 3           | 2019-05-25 | 800          | 101         | 3           |
    | 4           | 2020-09-13 | 1000         | 103         | 2           |
    | 5           | 2019-02-11 | 700          | 101         | 2           |
    +-------------+------------+--------------+-------------+-------------+
    Seller table:
    +-------------+-------------+
    | seller_id   | seller_name |
    +-------------+-------------+
    | 1           | Daniel      |
    | 2           | Elizabeth   |
    | 3           | Frank       |
    +-------------+-------------+
    Output: 
    +-------------+
    | seller_name |
    +-------------+
    | Frank       |
    +-------------+
    Explanation: 
    Daniel made 1 sale in March 2020.
    Elizabeth made 2 sales in 2020 and 1 sale in 2019.
    Frank made 1 sale in 2019 but no sales in 2020.

# Not In

In [ ]:
select seller_name from Seller
where seller_id not in
(select seller_id from Orders where year(sale_date) = 2020)
order by 1

# Left Join

In [ ]:
select seller_name
from seller s
left join (select seller_id, customer_id
          from orders
          where year(sale_date)=2020) o
using(seller_id)
where o.customer_id is null
order by 1