    Problem Statement.

    Table: Calls

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | from_id     | int     |
    | to_id       | int     |
    | duration    | int     |
    +-------------+---------+
    This table does not have a primary key, it may contain duplicates.
    This table contains the duration of a phone call between from_id and to_id.
    from_id != to_id



    Write an SQL query to report the number of calls and the total call duration between each pair of distinct persons (person1, person2) where person1 < person2.

    Return the result table in any order.

    The query result format is in the following example:



    Calls table:
    +---------+-------+----------+
    | from_id | to_id | duration |
    +---------+-------+----------+
    | 1       | 2     | 59       |
    | 2       | 1     | 11       |
    | 1       | 3     | 20       |
    | 3       | 4     | 100      |
    | 3       | 4     | 200      |
    | 3       | 4     | 200      |
    | 4       | 3     | 499      |
    +---------+-------+----------+

    Result table:
    +---------+---------+------------+----------------+
    | person1 | person2 | call_count | total_duration |
    +---------+---------+------------+----------------+
    | 1       | 2       | 2          | 70             |
    | 1       | 3       | 1          | 20             |
    | 3       | 4       | 4          | 999            |
    +---------+---------+------------+----------------+
    Users 1 and 2 had 2 calls and the total duration is 70 (59 + 11).
    Users 1 and 3 had 1 call and the total duration is 20.
    Users 3 and 4 had 4 calls and the total duration is 999 (100 + 200 + 200 + 499).

# With statement

In [ ]:
with aggregates as
(select from_id, to_id, sum(duration) as duration, count(*) as count_calls
 from Calls
 group by 1, 2
)

select distinct 
case when a.from_id < a.to_id then a.from_id
     else a.to_id
     end as person1, 
case when a.from_id < a.to_id then a.to_id
     else a.from_id
     end as person2,
a.count_calls + coalesce(b.count_calls, 0) as call_count, 
a.duration + coalesce(b.duration, 0) as total_duration 
from aggregates a
left join aggregates b on a.from_id = b.to_id and a.to_id = b.from_id

# Simpler Solution

In [ ]:
SELECT LEAST(from_id,to_id) as person1,
GREATEST(from_id,to_id) as person2,
COUNT(*) as call_count,
SUM(duration) as total_duration
FROM Calls
GROUP BY person1,person2