    Problem Statement.

    Table: Products

    +---------------+---------+
    | Column Name   | Type    |
    +---------------+---------+
    | product_id    | int     |
    | new_price     | int     |
    | change_date   | date    |
    +---------------+---------+
    (product_id, change_date) is the primary key of this table.
    Each row of this table indicates that the price of some product was changed to a new price at some date.



    Write an SQL query to find the prices of all products on 2019-08-16. Assume the price of all products before any change is 10.

    The query result format is in the following example:

    Products table:
    +------------+-----------+-------------+
    | product_id | new_price | change_date |
    +------------+-----------+-------------+
    | 1          | 20        | 2019-08-14  |
    | 2          | 50        | 2019-08-14  |
    | 1          | 30        | 2019-08-15  |
    | 1          | 35        | 2019-08-16  |
    | 2          | 65        | 2019-08-17  |
    | 3          | 20        | 2019-08-18  |
    +------------+-----------+-------------+

    Result table:
    +------------+-------+
    | product_id | price |
    +------------+-------+
    | 2          | 50    |
    | 1          | 35    |
    | 3          | 10    |
    +------------+-------+

# With and Window function

In [ ]:
WITH
prod as (SELECT DISTINCT product_id from Products),

new_prices as
(SELECT product_id, new_price FROM
(SELECT *, 
 RANK() OVER (PARTITION BY product_id ORDER BY change_date DESC) as change_rank
 from Products
 WHERE change_date <= '2019-08-16'
) temp
WHERE change_rank = 1)

select product_id, COALESCE(new_price, 10) as price
from prod
LEFT JOIN new_prices USING(product_id)

# Shorter With and window function

In [ ]:
WITH
new_prices as
(SELECT *, 
 RANK() OVER (PARTITION BY product_id ORDER BY change_date DESC) as change_rank
 from Products
 WHERE change_date <= '2019-08-16'
)

select distinct p.product_id, COALESCE(n.new_price, 10) as price
from Products p
LEFT JOIN new_prices n 
ON p.product_id = n.product_id and n.change_rank = 1