    Problem Statement.

    Table: Customer

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | customer_id | int     |
    | product_key | int     |
    +-------------+---------+
    There is no primary key for this table. It may contain duplicates.
    product_key is a foreign key to Product table.



    Table: Product

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | product_key | int     |
    +-------------+---------+
    product_key is the primary key column for this table.



    Write an SQL query to report the customer ids from the Customer table that bought all the products in the Product table.

    Return the result table in any order.

    The query result format is in the following example.



    Example 1:

    Input: 
    Customer table:
    +-------------+-------------+
    | customer_id | product_key |
    +-------------+-------------+
    | 1           | 5           |
    | 2           | 6           |
    | 3           | 5           |
    | 3           | 6           |
    | 1           | 6           |
    +-------------+-------------+
    Product table:
    +-------------+
    | product_key |
    +-------------+
    | 5           |
    | 6           |
    +-------------+
    Output: 
    +-------------+
    | customer_id |
    +-------------+
    | 1           |
    | 3           |
    +-------------+
    Explanation: 
    The customers who bought all the products (5 and 6) are customers with IDs 1 and 3.

# Join

In [ ]:
select customer_id from
(select customer_id, count(distinct p.product_key) as product_count
from Customer c left join Product p on c.product_key = p.product_key
where p.product_key is not null
group by 1) tab
where product_count = (select count(*) from Product)

# Having

In [ ]:
select customer_id
from Customer
group by 1
having count(distinct product_key) = (select count(*) from Product)